.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px 50px;
}

.cart-container{
    background-image: linear-gradient(180deg, rgba(201, 201, 201, 0.027), rgba(189, 186, 186, 0.089));
    backdrop-filter: blur(5px);
    border-left: 2px solid rgba(155, 154, 154, 0.1);
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 490px) {
    .shop-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .products-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin: 0 auto;
        width: 90%;
    }
    .reverse-main{
        order: 1;
    }
    /* .cart-container{
        position: sticky;
        margin: 0 auto;
        top: 80px;
        border-left: none;
        backdrop-filter: blur(15px);
        width: 85%;
    } */
}